/*
* Stylesheet for a Food truck webiste
* @author Cipriano Mazzieri
*/

/*---------------- HEADER ----------------*/

nav { font-size: 1.2em; }

nav a {			/* +++ Link style for MAIN NAV BAR +++ */
	color:#65D800;
	text-decoration: none;
}

nav a:hover {
	color: #fff;
	text-decoration: none;
}

header p a { 		/* +++ Link style for SOCIAL BAR +++ */
	color:#fff;
}

header p a:hover {
	color: #65D800;
	text-decoration: none;
}

header .img-container {
	max-width: 130px;
	margin:1em auto;
	/*margin-bottom: 1em;*/
}

nav {
	margin-top: 1em;
}

nav, header p {
  	text-align: center;
}

nav ul {
  	list-style: none;
  	padding-left: 0;
}

nav ul li {
  	padding: 1em;
}

header i {
  	padding: 0.5em 0.5em;
}


/*---------------- MAIN ----------------*/

.data-row {
	background: rgba(58,58,58,0.7);
	padding: 0.5em;
	margin-bottom: 1em;
}

.data-row:nth-of-type(even) {
	background: rgba(90,90,90,0.7);
}

.description-s {
	font-style: italic;
}

.menu-item {
	color:#65D800;
}

.to-top {
	margin:0 0 3em 0 !important;
}
 .to-top a {
 	color: #65D800;
 }

 .to-top a:hover {
	color:#fff;
 }

#food-menu .description-s {
	font-size: 1.2em;
	background: black;
	display: inline-block;
	padding:1em;
	border-radius: 1em;
	margin:0;
}

#about-us .data-row {
	color: #959595;
	font-size: 1.3em;
	text-align: left;
	padding: 2em 0.8em;
}

#about-us p {
	margin: 1.3em 0;
}


/*---------------- FOOTER ----------------*/

.sj-footer {
	font-size: 1.3em;
	letter-spacing: 0.2em;
}

.sj {
	color:#f50000;
}

footer {
	margin: 3em 0;
}

footer i {
	color:#f50000;
}

footer strong {
	font-weight: 400;
	letter-spacing: 0.2em;
}

footer .description-s {
	line-height: 2em
}

footer .img-container {
	width: 64px;
	height: 54px;
	border-radius: 0.7em;
}

footer .stroke-yellow {
	text-shadow: -1px -1px #ffcc22,
					 -1px 1px #ffcc22,
					  1px -1px #ffcc22,
					  1px 1px #ffcc22;
}

/*---------------- GENERAL CLASSESS ----------------*/

.container {
	color:#fff;
	font-size: 1.5em;
   max-width: 960px;
   background: #222;
}

.stroke-yellow {
	text-shadow: -1px -1px #ffcc22,
					 -1px 1px #ffcc22,
					  1px -1px #ffcc22,
					  1px 1px #ffcc22;
}

.road-texture {
   background: url(../images/road-texture-final.jpg);
}

.text-red { color:#f50000; }
.text-green { color:#65D800; }
.text-yellow { color:#ffcc22; }


/*---------------- GENERAL ELEMENTS ----------------*/

body {
  font-size: 10px;
  background: linear-gradient(to right, #111, #ccc, #111);
}

h2 {
	color:#f50000;
	font-size: 3em;
	text-transform: uppercase;
	padding: 0.5em 0.5em 0 0.5em;
	margin-bottom: 0;
}

h3 {
	color:#959595;
	font-size: 2em;
	text-transform:capitalize;
}

h4 {
	color:#ffcc22;
	font-weight: 200;
}

a, a:hover {
	text-decoration: none;
}

img {
  width: 100%;
}

section {
	margin-top: 2em;
}


/*------------------------------------------------------------
------------------------------------------------------------*/
/*                    MEDIA QUERIES
/*------------------------------------------------------------
------------------------------------------------------------*/


/*---------------- from 768px ----------------*/

@media screen and (min-width: 768px) {

	h2 {
		font-size: 7em;
	}

	/*------------------------------------------------------------
									HEADER
	------------------------------------------------------------*/

  	header {
		width: 100%;
		background: #222;
		margin: 0 auto;
	}

	nav {
		margin-top: 2em;
	}

  	nav ul {
		text-align: center;
	}

  	nav ul li {
   		font-size: 1.2em;
    	padding: 0.5em;
    	display: inline-block;
  	}

	.col-sm-3 p {
		margin-top: 2em;
	}

	
	/*------------------------------------------------------------
									MAIN
	------------------------------------------------------------*/

	/*main {
		margin-top: 150px;
	}*/

	/*section {
		margin-top: 17em;
	}*/

	/*------------------------------------------------------------
									FOOD MENU
	------------------------------------------------------------*/

	.data-row {
		position: relative;
	}

	#food-menu h3,
	#food-menu .description-l {
		text-align: left;
		max-width: 80%;
	}

	#food-menu .description-s {
		position: absolute;
		top:25%;
		right: 6%;
	}

	/*------------------------------------------------------------
									ABOUT US
	------------------------------------------------------------*/

	#about-us .data-row {
	font-size: 1.5em;
	text-align: left;
	padding: 2em;
}

	/*------------------------------------------------------------
									FOOTER
	------------------------------------------------------------*/

	.sj-footer {
		font-size: 1.5em;
	}

}